{% extends 'Kh/MailBundle/Views/admin.twig' %}

{% block content %}

	<p>Поступил новый <a href="http://{{ commentUrl }}">комментарий</a>:</p>

	<p style="font-style:italic;color:#666">{{ comment.getText()|nl2br }}</p>

{% endblock %}