{% extends 'Kh/MailBundle/Views/user.twig' %}

{% block content %}

	<p>Кто-то, возможно не вы, на сайте {{ siteurl }} инициировал процедуру восстановления пароля.<br/>
		Если это сделали не вы, просто проигнорируйте это письмо.<br/><br/>

		Для восстановления пароля перейдите по <a href="{{ restoreUrl }}">этой ссылке</a>.
	</p>

{% endblock %}