{% extends 'BaseBundle/Views/base.twig' %}

{% set title = 'Рубрика: ' ~ category.getName() %}

{% block title %}
	<h1 class="detailedTitle">
		<div class="dtTitle">{{ title }}</div>
		<div class="dtInfo">
			Заметок в рубрике: {{ count }}
		</div>
	</h1>
{% endblock %}

{% block content %}

	{% include 'ContentBundle/Views/posts.twig' %}

{% endblock %}