{% extends 'MailBundle/Views/base.twig' %}

{% block body %}

	<b>Здравствуйте, {{ username }}!</b>

	{% block content %}{% endblock %}

	<p style="color:#666">
		<br/><br/>
		С уважением,<br/>
		команда <a href="http://{{ siteurl }}">{{ sitename }}</a>
	</p>

{% endblock %}